* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
.hide {
  display: none;
}
body,
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: monospace, sans;
}
div#container {
  min-height: 100%;
  margin: 0px auto -54px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
@media (min-width: 751px) {
  div#container {
    background-image: url("/i/background.jpg");
    width: 751px;
  }
}
@media (max-width: 750px) {
  div#container {
    width: 100%;
    background-color: #f8c5d1;
  }
}
@media (max-width: 750px) {
  #load-container {
    background-color: #fff;
  }
}
div#header {
  height: 155px;
  margin-bottom: 31px;
  margin-top: 0px;
}
@media (max-width: 750px) {
  div#header {
    display: none;
  }
}
.gallery-header > img {
  width: 100%;
}
.responsive-header {
  text-align: center;
  display: none;
}
.responsive-header > img {
  width: 100%;
  max-width: 667px;
}
@media (max-width: 750px) {
  .responsive-header {
    display: block;
  }
}
div#joke {
  margin-bottom: 15px;
  text-align: center;
}
@media (min-width: 751px) {
  div#joke {
    height: 465px;
    margin: 0px 204px 0px 187px;
  }
}
@media (max-width: 750px) {
  div#joke img {
    width: 98%;
    max-width: 530px;
  }
}
div#tools {
  padding-top: 17px;
  overflow: hidden;
}
@media (max-width: 750px) {
  div#tools {
    background-color: #f8c5d1;
  }
}
div#tools .links {
  margin-top: 13px;
  margin-bottom: 13px;
}
div#tools .links table {
  width: 80%;
  margin: 0 auto;
}
div#tools .links table td {
  text-align: center;
}
@media (min-width: 751px) {
  div#tools {
    margin-top: 20px;
    margin-left: 181px;
    margin-right: 197px;
  }
}
@media (max-width: 750px) {
  div#tools {
    width: 100%;
  }
}
div#tools > #navigation {
  text-align: center;
  margin: 0px auto;
}
#bottom {
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 751px) {
  #bottom {
    width: 751px;
  }
}
@media (max-width: 750px) {
  #bottom {
    width: 100%;
    background-color: #f8c5d1;
  }
}
#bottom,
.footer-push {
  height: 54px;
}
a {
  text-decoration: none;
  color: #000;
}
div {
  margin: 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
#footer {
  text-align: center;
  margin: 0px auto;
  padding-right: 21px;
}
#footer * {
  font-family: "Asap", sans-serif;
  font-size: 9pt;
  color: #111;
  text-decoration: none;
}
body.gallery div#container {
  background-image: url("/i/background-gallery.jpg");
  background-position: 7px 0px;
}
div#gallery {
  text-align: center;
  margin: 0px auto;
  width: 563px;
  overflow: hidden;
  padding-bottom: 20px;
}
@media (max-width: 629px) {
  div#gallery {
    width: 423px;
  }
}
@media (max-width: 460px) {
  div#gallery {
    width: 281px;
  }
}
@media (max-width: 296px) {
  div#gallery {
    width: 100%;
  }
}
div.gallery-part {
  overflow: hidden;
}
div.gallery-item {
  padding: 5px;
  border: solid 1px #808080;
  margin: 5px;
  float: left;
  background: #fff;
}
body.gallery div#header {
  height: 155px;
}
body.gallery div#container {
  min-height: 1000px;
}
