@import "compass/css3";
@import "compass/reset";

$containerHeight: 751px;
$headerHeight: 148px;
$jokeHeight: 465px;
$fullMinHeight: $containerHeight + $headerHeight + $jokeHeight;
$width: 751px;

$fontFamily: 'Asap', sans-serif;

.hide {
	display: none;
}

body {
	font-family: monospace, sans;
}
div#container {
	margin: 0px auto;
	background-image: url('/i/background.jpg');
	background-repeat: no-repeat;
	box-sizing: border-box;
	width: $width;
	min-height: 1000px;
	margin-top: 10px;
}
div#header {
	height: 148px;
	margin-bottom: 31px;
	margin-top: 0px;
}
div#joke {
	height: 465px;
	margin: 0px 204px 0px 187px;
	margin-bottom: 15px;
	padding-top: 4px;
	text-align: center;
}
div#tools {
	> #navigation {
		text-align: center;
		margin: 0px auto;
	}
	> * {
	}
	margin-left: 181px;
	margin-right: 197px;
	// margin-top: 36px;
	height: 100%;
	padding-top: 8px;
	overflow: hidden;
	#share-left {
		> div { text-align: left; }
	}
	#share-left, #share-right {
		// > div { vertical-align: top; }
	}
}
a {
	text-decoration: none;
	color: black;
}
div {
	margin: 0px;
}
.left {
	float: left;
}
.right {
	float: right;
}

#comments {
	width: 436px;
	margin: 0px auto;
	margin-top: 71px;
	#disqus_thread {
		margin: 9px auto;

		> #dsq-content {
			padding-right: 55px;
		}
		// mobile
		> #dsq-content.dsq-mobile {
			padding-right: 0px;
			// padding-left: 30px;
			background: none !important;
			> #dsq-topwrapper {
				display: none;
			}
			> #dsq-comments {
				background: none !important;
			}
		}
	}
	* {
		font-family: $fontFamily;
		color: #555;
		letter-spacing: 1px;
		font-size: 10pt;
		font-weight: bold;
	}
	#dsq-global-toolbar {
		display: none; 
	}
	#dsq-content {
	}
}

#footer {
	text-align: center;
	margin: 0px auto;
	padding-right: 21px;
	// background-image: url(/i/background.jpg);
	// background-position: bottom;
	padding-top: 10px;
	padding-bottom: 20px;
	* {
			font-family: $fontFamily;
			font-size: 9pt;
			color: #111;
			// @include text-shadow(2px #333);
			text-decoration: none;
	}
}

#bottom {
		background-image: url(/i/background-loop.jpg);
	}

// Galleri
body.gallery div#container {
	background-image: url(/i/background-gallery.jpg);
	background-position: 7px 0px;
}
div#gallery {
	text-align: center;
	margin: 0px auto;
	width: 563px;
	overflow: hidden;
	padding-bottom: 20px;
}
div.gallery-part {
	overflow: hidden;
}
div.gallery-item {
	padding: 5px;
	border: solid 1px gray;
	margin: 5px;
	float: left;
	background:white;
	// @include box-shadow(#333 2px);
}
body.gallery div#header {
	height: 148px;
}
body.gallery div#container {
	min-height: 1000px;
}
