body {
	font-family: monospace, sans;
}
div#container {
	margin: 0px auto;
	background-image: url('/i/background.jpg');
	box-sizing: border-box;
	width: 751px;
	min-height: 1350px;
}
div#header {
	height: 148px;
	margin-bottom: 31px;
	margin-top: 10px;
}
div#joke {
	height: 465px;
	margin: 0px 204px 0px 187px;
	margin-bottom: 15px;
	padding-top: 4px;
	text-align: center;
}
div#tools {
	height: 100%;
	padding-top: 8px;
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
div {
	margin: 0px;
}
