/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, style.scss */
.hide {
  display: none;
}

/* line 16, style.scss */
body {
  font-family: monospace, sans;
}

/* line 19, style.scss */
div#container {
  margin: 0px auto;
  background-image: url("/i/background.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 751px;
  min-height: 1000px;
  margin-top: 10px;
}

/* line 28, style.scss */
div#header {
  height: 148px;
  margin-bottom: 31px;
  margin-top: 0px;
}

/* line 33, style.scss */
div#joke {
  height: 465px;
  margin: 0px 204px 0px 187px;
  margin-bottom: 15px;
  padding-top: 4px;
  text-align: center;
}

/* line 40, style.scss */
div#tools {
  margin-left: 181px;
  margin-right: 197px;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  overflow: hidden;
}

/* line 51, style.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 55, style.scss */
div {
  margin: 0px;
}

/* line 58, style.scss */
.left {
  float: left;
}

/* line 61, style.scss */
.right {
  float: right;
}

/* line 65, style.scss */
#comments {
  width: 436px;
  margin: 0px auto;
  padding-right: 55px;
}
/* line 69, style.scss */
#comments #disqus_thread {
  margin: 9px auto;
}
/* line 72, style.scss */
#comments * {
  font-family: "Asap", sans-serif;
  color: #555;
  letter-spacing: 1px;
  font-size: 10pt;
  font-weight: bold;
}
/* line 79, style.scss */
#comments #dsq-global-toolbar {
  display: none;
}

/* line 86, style.scss */
#footer {
  text-align: center;
  margin: 0px auto;
  padding-right: 21px;
  padding-top: 10px;
}
/* line 94, style.scss */
#footer * {
  font-family: "Asap", sans-serif;
  font-size: 9pt;
  color: #111;
  text-decoration: none;
}

/* line 104, style.scss */
body.gallery div#container {
  background-image: url(/i/background-gallery.jpg);
  background-position: 7px 0px;
}

/* line 108, style.scss */
div#gallery {
  text-align: center;
  margin: 0px auto;
  width: 563px;
  overflow: hidden;
  padding-bottom: 20px;
}

/* line 115, style.scss */
div.gallery-part {
  overflow: hidden;
}

/* line 118, style.scss */
div.gallery-item {
  padding: 5px;
  border: solid 1px gray;
  margin: 5px;
  float: left;
  background: white;
}

/* line 126, style.scss */
body.gallery div#header {
  height: 148px;
}

/* line 129, style.scss */
body.gallery div#container {
  min-height: 1000px;
}
