html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

.hide {
    display: none
}

body {
    font-family: monospace, sans;
    width: 100%;
    background-image: url(/m/i/background.jpg);
    background-repeat: no-repeat
}

div#header {
    margin: 0px;
    height: 86px
}

div#joke {
    text-align: center
}

div#joke>img {
    margin-right: 3px
}

div#tools {
    text-align: center;
    padding-top: 8px;
    overflow: hidden
}

div#tools #facebook-share,div#tools #twitter-share,div#tools #gallery-link {
    display: inline
}

div#tools #desktop-link {
    display: inline-block
}

div#tools>#navigation {
    text-align: center;
    margin-bottom: 7px
}

div#tools #share-left>div {
    text-align: left
}

a {
    text-decoration: none;
    color: black
}

div {
    margin: 0px
}

.left {
    float: left
}

.right {
    float: right
}

#comments {
    margin: 71px 10px 0px 10px
}

#comments #disqus_thread>#dsq-content.dsq-mobile {
    background: none !important
}

#comments #disqus_thread>#dsq-content.dsq-mobile>#dsq-topwrapper {
    display: none
}

#comments #disqus_thread>#dsq-content.dsq-mobile>#dsq-comments {
    background: none !important
}

#comments * {
    font-family: "Asap",sans-serif;
    color: #555;
    letter-spacing: 1px;
    font-size: 10pt;
    font-weight: bold
}

#comments #dsq-global-toolbar {
    display: none
}

#footer {
    text-align: center;
    background-image: url(/m/i/background-loop.jpg);
    padding-top: 10px;
    padding-bottom: 20px
}

#footer * {
    font-family: "Asap",sans-serif;
    font-size: 9pt;
    color: #111;
    text-decoration: none
}

#bottom {
    background-image: url(/m/i/background-loop.jpg)
}

body.gallery {
    background-image: url(/m/i/background-gallery.jpg);
    background-repeat: no-repeat
}

body.gallery div#container {
    background-position: 7px 0px
}

div#gallery {
    background-image: url(/m/i/background-loop.jpg);
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px
}

div.gallery-part {
    overflow: hidden;
    text-align: center
}

div.gallery-item {
    display: inline-block;
    padding: 5px;
    border: solid 1px gray;
    margin: 8px 4px;
    background: white
}
