sm-max-width = 750px
md-min-width = 751px
container-width = 751px
footer-height = 54px
footer-margin-top = 360px
pigen-pink = #F8C5D1

*
    margin 0
    padding 0
    border 0

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

.hide {
    display: none
}

body, html
    height 100%
    min-height 100%

body {
    font-family: monospace, sans
}

div#container
    min-height 100%
    margin 0px auto (-1 * footer-height)
    @media (min-width: md-min-width)
        background-image url("/i/background.jpg")
        width container-width

    @media (max-width: sm-max-width)
        width 100%
        background-image url("/i/background-loop.jpg")
        background-repeat repeat-y
        background-size 113%
        background-position center

    background-repeat: no-repeat;
    box-sizing: border-box;

// #load-container
//     @media (max-width: sm-max-width)
//         background-color white

div#header
    @media (max-width: sm-max-width)
        display  none

    height: 155px;
    margin-bottom: 31px;
    margin-top: 0px

.gallery-header
    > img
        width 100%

.responsive-header
    background-color white
    text-align center
    > img
        width 100%
        max-width 667px

    display none
    @media (max-width: sm-max-width)
        display block

div#joke
    @media (min-width: md-min-width)
        height 465px
        margin 0px 204px 0px 187px

    @media (max-width: sm-max-width)
        padding-bottom  13px
        background-color white
        img
            width 98%
            max-width 530px

    margin-bottom: 15px;
    text-align: center

div#tools
    padding-top 17px

    .links
        margin-top 13px
        margin-bottom 13px

        table
            width 80%
            margin 0 auto
            td
                text-align center

    @media (min-width: md-min-width)
        margin-top 20px
        margin-left 181px
        margin-right 197px

    @media (max-width: sm-max-width)
        width 100%

    overflow hidden

    > #navigation
        text-align center
        margin 0px auto

#bottom
    text-align center
    margin 0 auto
    @media (min-width: md-min-width)
        width container-width

    @media (max-width: sm-max-width)
        width 100%

.footer-push
    height footer-height + footer-margin-top

#bottom
    height footer-height

a {
    text-decoration: none;
    color: black
}

div {
    margin: 0px
}

.left {
    float: left
}

.right {
    float: right
}

#footer
    text-align center
    padding-right 21px
    margin 0px auto

#footer * {
    font-family: "Asap",sans-serif;
    font-size: 9pt;
    color: #111;
    text-decoration: none
}

body.gallery div#container {
    background-image: url(/i/background-gallery.jpg);
    background-position: 7px 0px
}

div#gallery
    text-align center
    margin 0px auto

    width 563px
    @media (max-width: 629px)
        width 423px

    @media (max-width: 460px)
        width 281px

    @media (max-width: 296px)
        width 100%

    overflow hidden
    padding-bottom 20px

div.gallery-part
    overflow: hidden

div.gallery-item {
    padding: 5px;
    border: solid 1px gray;
    margin: 5px;
    float: left;
    background: white
}

body.gallery div#header {
    height: 155px
}

body.gallery div#container {
    min-height: 1000px
}
